.warna-bg{
	background: linear-gradient(to right, rgba(91,134,229, .92), rgba(54,209,220, .92));
}

.jumbotron-bg{
	background-size: cover;
	background: url(../img/bg.jpg);
	background-size: 300px;
}

.mt-6 {
	margin-top: 100px
}

.card:hover {
  background-color: #787c7e;
  color: white;
}
